p {
    font-style: italic;
    font-size: medium;
    background-color:aquamarine
}

para {
    color:black
}

p1 {
    color:blueviolet
}

#map { height: 600px; }

#image1 { height: 600px; }
#image2 { height: 600px; }